*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* @font-face {
  font-family: "Grotesque";
  src: url("../src/assets/fonts/DarkerGrotesque-Medium.ttf"),
       
} 

@font-face {
  font-family: "Shadow";
  src: url("../src/assets/fonts/Shadows_Into_Light/ShadowsIntoLight-Regular.ttf") format("ttf"),
       
} */
